# mark repo as valve data format instead of QuakeC
*.mdl linguist-detectable=true
*.vtx linguist-detectable=true linguist-language=vdf
*.md linguist-detectable=true linguist-language=vdf
*.vvd linguist-detectable=true linguist-language=vdf
*.smd linguist-detectable=true linguist-language=vdf
*.qc linguist-detectable=true linguist-language=vdf
